<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
        voluptatibus impedit id laudantium, quisquam cumque, ipsa magni at aut
        iure nam? Aut ratione eveniet impedit deleniti? Nobis reprehenderit
        facere ducimus?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
        voluptatibus impedit id laudantium, quisquam cumque, ipsa magni at aut
        iure nam? Aut ratione eveniet impedit deleniti? Nobis reprehenderit
        facere ducimus?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
        voluptatibus impedit id laudantium, quisquam cumque, ipsa magni at aut
        iure nam? Aut ratione eveniet impedit deleniti? Nobis reprehenderit
        facere ducimus?
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
